@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.modal-body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 5;
}

.login-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 770px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}


button.sign-up {
    border: 1px solid #199990;
    background-color: #199990;
    color: #FFFFFF;
}

button.sign-in {
    border: 1px solid #179f86;
    background-color: #179f86;
    color: #FFFFFF;
}

button:active {
    transform: scale(0.95);
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.bt {
    border-radius: 20px;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container {
    /*position: absolute;*/
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}


.overlay {
    background: #05dc1a;
    background: -webkit-linear-gradient(to right, #2b59ff, #05dc1a);
    background: linear-gradient(to right, #2b59ff, #05dc1a);
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*padding: 0 40px;*/
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out;
}

.l-r-form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.login-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.login-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 3;
    animation: show 0.6s;
}

.login-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.login-container.right-panel-active .overlay {
    transform: translateX(50%);
}

.close {
    margin: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 5px;
}

.close.left {
    left: 5px;
    right: 0;
}