@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

button {
    border-radius: 20px;
    border: 1px solid #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
}

button:active {
    transform: scale(0.95);
}

#header {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
}

.header-bar {
    font-size: 18px;
    letter-spacing: 1px;
}

.text-center {
    position: relative;
}

.search-container {
    padding: 20px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
}

.input {
    width: 440px;
    height: 55px;
    border: 3px solid #000000;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    color: #000000;
    font-size: 18px;
    outline: none;
}

::-webkit-input-placeholder {
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
    width: 120px;
    height: 55px;
    background-color: #000000;
    color: #fff;
    border: 0;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
}

/*--------------------------------------------------*/

.main-content {
    padding: 30px 0 30px;
}

.filters-panel-labels {
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    padding: 8px 0 8px;
    overflow-x: auto;
    /*margin-bottom: 0;*/
}

.filter-item {
    padding-top: 8px;
    /*margin: 0 auto;*/
    margin-right: 12px;
}

.filter-item-label {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #f6f6f6;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
}

/*--------------------------------------------------*/

.services .icon-box {
    text-align: center;
    /*border: 1px solid #ededed;*/
    padding: 50px 15px;
    transition: all ease-in-out 0.3s;
}

.services .icon-box .icon {
    width: 64px;
    height: 64px;
    background-color: #d9683e;
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    display: flex;
    margin: 0 auto 20px;
    transform-style: preserve-3d;
}

.services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
}

.services .icon-box .icon::before {
    position: absolute;
    content: '';
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background-color: #eacec7;
    border-radius: 5px;
    transition: all .3s ease-out 0s;
    transform: translateZ(-1px);
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #000000;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    background-color: rgba(236, 138, 100, 0.89);
    border-color: #d9683e;
}

.services .icon-box:hover .icon {
    background-color: #fff;
}

.services .icon-box:hover .icon::before {
    background-color: rgb(217, 104, 62);
}

/*--------------------------------------------------*/

.back-to-top {
    position: fixed;
    right: 50px;
    bottom: -50px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #e96b56;
    border: 2px solid #d2e3f1;
    opacity: .6;
    cursor: pointer;
    transition: 0.4s linear;
}

.back-to-top:hover,
.back-to-top:focus {
    filter: brightness(1.15);
    opacity: 1;
}

.back-to-top.active {
    bottom: 50px;
}

/*--------------------------------------------------*/

#footer {
    background-color: #404040;
    padding: 0 0 15px 0;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#footer .footer-top {
    background-color: #3b3b3b;
    /*border-top: 1px solid #474747;*/
    border-bottom: 1px solid #474747;
    padding: 55px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background-color: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background-color: #e96b56;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

/*#footer .footer-top .footer-links {*/
/*    margin-bottom: 30px;*/
/*}*/

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ec7f6d;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
    color: #e96b56;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 15px;
}

#footer .footer-top .social-links a:hover {
    background-color: #e96b56;
    color: #fff;
}
